@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Playfair", serif;
    font-size: 1rem;
    background-color: #faf9f6;
}

#navbar {
    background-color: #faf9f6;
    position: sticky;
    top: 0;
    border-bottom: 0.1rem solid #ccc;
}

ul {
    background-color: #faf9f6 !important;
}

#footer {
    background-color: #faf9f6;
}

a{
    cursor: pointer;
}

/* Home Page */

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 1.25rem;
    padding: 0.5rem;
    border: 0.075rem solid #ccc;
    border-radius: 0.75rem;
    width: 20rem;
    font-weight: 400;
    height: 30rem;
}

.card-img {
    width: 100%;
    height: 12rem;
}

.card_image {
    width: 100%;
    height: 12rem;
    border-radius: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.75rem 0.125rem 0.25rem 0.125rem;
}

.card-cat {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.25rem 0.125rem;
    opacity: 0.7;
}

.card-des {
    font-size: 0.875rem;
}

.card-author {
    margin: 0.5rem;
    padding: 0.5rem;
    margin-left: 0rem;
    padding-left: 0rem;
}

.author-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
}

.last-updated {
    opacity: 0.7;
    font-size: 0.75rem;
}

/* Post Details Page */

.post-page {
    width: 70%;
    padding: 2rem;
    margin: auto;
    text-align: center;
}

.post-desc {
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.img-div {
    width: 70%;
    height: 25rem;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

@media screen and (max-width:720px) {
    .post-page {
        width: 95%;
    }

    .img-div {
        width: 95%;
    }
}

.img-blog {
    width: 100%;
    height: 25rem;
    border-radius: 1rem;
}

.title-div {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cont-div {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 4rem;
    opacity: 0.8;
    line-height: 1.5;
}

.author-div {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: start;
}

.author-full-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1.25rem;
}

.line {
    width: 80%;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 4rem;
    border: 0.1rem solid grey;
}

.author-name {
    font-size: 2rem;
    font-weight: 700;
    margin: 1.75rem 0.125rem 0.25rem 0.125rem;
}

/* FORMs */

.form-box {
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}

@media screen and (max-width:720px) {
    .form-box {
        width: 90%;
    }
}

.title {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info {
    opacity: 0.7;
    margin-bottom: 1rem;
}

/* AUTHOR PAGE */

.highlight-span {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #2E8BC0;
    text-decoration: underline;
    margin-bottom: 4rem;
}

.authors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8rem;
}

.author-card {
    margin: 1rem;
    width: 18rem;
}

.no-card {
    margin-top: 3rem;
    margin-bottom: 8rem;
    font-size: 2rem;
    text-align: center;
}

/* USER PROFILE */


.profile {
    width: 50%;
    margin: auto;
}

@media screen and (max-width:720px) {
    .profile {
        width: 90%;
    }

}

.centre-btn-cont {
    text-align: center;
    margin-top: 2rem;
}

.profile-img-cont {
    width: 10rem;
    height: 10rem;
    border: 0.4rem solid gray;
    border-radius: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.edit-button {
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: absolute;
    top: 7.25rem;
    left: 6.5rem;
    border: 0.25rem solid gray;
    border-radius: 50%;
    padding: 1px;
    cursor: pointer;
}

.edit-icon {
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
    top: 3px;
}

#delbtn {
    display: inline-block;
    margin: auto;
    margin-top: 5rem;
    width: 95%;
}



/* Dashboard */

.dashboard {
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.mypostitem {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 1.25rem;
    background-color: azure;
}

.mypost-item-img {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    margin-right: 2rem;
    border-radius: 1.25rem;
}

.mypost-item-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.post-time-info {
    opacity: 0.7;
}

.mypost-item-button-cont button {
    margin-right: 2rem;
    width: 5rem;
    font-size: 1.125rem;
    font-weight: 500;
}

@media screen and (max-width:1000px) {
    .post-time-info {
        display: none;
    }
}

@media screen and (max-width:720px) {
    .mypost-item-button-cont button {
        display: none;
    }
}

/* EDIT & CREATE POST */

.formbox {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}


@media screen and (max-width:720px) {
    .formbox {
        width: 95%;
    }

}

.formbox label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.text-box-quill {
    height: 18rem !important;
    margin-bottom: 5rem;
}

.formbox button {
    width: 8rem;
}

/* Loader GIF */

.loader-div {
    width: 25%;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 40vh;
}

.loader-gif {
    width: 50%;
    height: 50%;
    margin: auto;
}

/* 404 Page*/

.error-img-div {
    width: 50%;
    height: 50%;
    margin: auto;
}

.error-img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:720px) {
    .error-img-div {
        width: 95%;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

}

.go-home {
    text-align: center;
}

#navbar{
    position: sticky;
    top: 0;
    border-bottom: 0.1rem solid #ccc;
    z-index: 1000;
    opacity: 1;
}

/* FOOTER */

#footer {
    position: relative;
    bottom: -20rem;
}

.icons {
    display: inline-block;
    margin: 0.5rem !important;
    width: 1.5rem;
    height: 1.5rem;
}

.icons svg {
    width: 85%;
    height: 85%;
    opacity: 0.6;
}

.icons svg:hover {
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    opacity: 1;
}

/* Blog Post */

.cont-div {
    font-size: 1.25rem;
    line-height: 1.6;
    color: black;
    text-align: left;
    font-weight: 500;
}

.cont-div :where(h1, h2, h3, h4, h5, h6) {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.cont-div :where(h1) {
    font-size: 2.5rem;
}

.cont-div :where(h2) {
    font-size: 2.25rem;
}

.cont-div :where(h3) {
    font-size: 2rem;
}

.cont-div :where(h4) {
    font-size: 1.875rem;
}

.cont-div :where(h5) {
    font-size: 1.75rem;
}

.cont-div :where(p) {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.cont-div :where(a) {
    color: #007bff;
    /* Bootstrap blue */
    text-decoration: none;
    font-size: 1.5rem;
}

.cont-div :where(a:hover) {
    text-decoration: underline;
}

.cont-div :where(strong) {
    font-weight: bold;
    font-size: 1.5rem;
}

.cont-div :where(ul) {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.cont-div :where(ol) {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.cont-div :where(li) {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}